
<div class="container containerSyle" ng-init="loadDistrictsList()" >
    <div class="col-md-12">
        <br/>
    </div>

    <div class="pull-left">
        <h1>Districts</h1>
    </div>

    <div class="col-md-12">

        <div class="pull-right">
            <button type="button" class="btn btn-default mentinaceButton" ng-click="goToMainPage()" >Back to main page</button>
            <button type="button" class="btn btn-default buttonAdd" ng-click="cleanFormDistrict()" > Add</button>
            <br/>
            <br/>
        </div>

        <div ng-show="showDistrictForm" >

            <div class="col-md-12">
                <br/>
            </div>

            <div class="col-md-12 formMentinaceStyle" >


                <div class="pull-right">
                    <button type="button" class="btn btn-default closeButton" ng-click="hideDistrictForm()" ><span class="	glyphicon glyphicon-remove-circle fs30 iconCloseButton"></span></button>
                </div>

                <h2>{{titleForm}}</h2>

                <form name="cForm" >



                    <div class="form-group">
                        <label for="selectZone">Select the zone:</label>
                        <select id="selectZone" class="selectEspecialForm" ng-model="formDistrict.zone">
                            <option value ="1">Zone 1</option>
                            <option value ="2">Zone 2</option>
                            <option value ="3">Zone 3</option>
                            <option value ="4">Zone 4</option>
                            <option value ="5">Zone 5</option>
                            <option value ="6">Zone 6</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="associationormissionid">Select the association or mission:</label>
                            <select class="selectEspecialForm" style="width: 70% !important;" id="associationormissionid"  ng-options="a.idassociationormission as a.name for a in associationOrMissionSelectList" ng-model="formDistrict.idassociationormission" />
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="name">District's name:<span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="name" name="fullnametxt" ng-model="formDistrict.district" required>
                        <span ng-show="!cForm.$pristine && cForm.fullnametxt.$error.required"  class="RedFont">District's name is required.</span>

                    </div>

                    <div ng-show="showMessage" class="alert {{ typeMessage === 'sucess' ? 'colorSuccess' : 'colorDanger' }}" >
                        <span  ng-click="showMessage = false">&times;</span>
                        <strong>{{ typeMessage === 'sucess' ? 'Success' : 'Danger' }}!</strong> {{textMessage}}
                    </div>

                    <div class="pull-right">

                        <button ng-show="showSaveButton" type="submit" class="btn btn-info buttonAdd" ng-disabled="!cForm.$valid" ng-click="saveDistrict()" onclick="$('.alert').show()" >Save</button>
                        <button ng-show="showUpdateButton" type="submit" class="btn btn-warning buttonAdd" ng-disabled="!cForm.$valid" ng-click="updateDistrict()" onclick="$('.alert').show()" >Update</button>
                        <button ng-show="showDeleteButton" type="submit" class="btn btn-danger" ng-disabled="!cForm.$valid" ng-click="deleteDistrict()" onclick="$('.alert').show()" >Delete</button>

                    </div>

                </form>


            </div>

            <div class="col-md-12">
                <br/> <br/>
            </div>


    </div>



        <table class="table table-striped table-inverse tableStyle" ng-show="districtsList.length != 0" >
            <thead >
            <tr>
                <th>ID</th>
                <th>Association or Mission</th>
                <th>District</th>
                <th>Zone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in districtsList">
                <th scope="row">{{d.district.iddistrict}}</th>
                <td>{{d.associationormission.name}}</td>
                <td>{{d.district.district}}</td>
                <td>{{d.district.zone}}</td>
                <td><center><button type="button" class="btn btn-default buttonAdd " ng-click="selectDistrict(d)" ><span class="glyphicon glyphicon-edit"></span></button></center></td>
            </tr>


            </tbody>
        </table>

    <div class="col-md-12">
        <br/>
    </div>



</div>
