
<div class="container containerSyle" ng-init="loadInstitutionList()" >


    <div class="col-md-12">

        <img id="logoImg"  src="/app/assets/img//Logo-Jovenes-Sureste-2.png"/>

        <br/>


        <div class="pull-right">
            <button type="button" class="btn btn-default mentinaceButton" ng-click="manageUrlsMentinance(1)" ><span class="glyphicon glyphicon-cog"></span> Districts</button>
            <button type="button" class="btn btn-default mentinaceButton" ng-click="manageUrlsMentinance(2)" ><span class="glyphicon glyphicon-cog"></span> Association or Mission</button>
            <button type="button" class="btn btn-default mentinaceButton" ng-click="manageUrlsMentinance(3)" ><span class="glyphicon glyphicon-cog"></span> Union</button>
        </div>


        <div class="col-md-12"><br/><br/></div>

        <div class="pull-right">

            <label class="fs15"><span class="glyphicon glyphicon-chevron-right"></span>Select what do you want to see?</label>


            <select class="selectEspecial" ng-model="typeSelect" ng-options="t.idtypeinstitutions as t.typename for t in typeinstitutions" ng-change="refreshInstitutionBaseOnSelectedType()">
            </select>
            <button type="button" class="btn btn-success buttonInverse" ng-click="selectAll()"><span class="glyphicon glyphicon-ok"></span> Select all</button>
            <button type="button" class="btn btn-warning buttonInverse" ng-click="deselectAll()"><span class="glyphicon glyphicon-remove"></span> Deselect All</button>
            <button type="button" class="btn btn-default buttonAdd" ng-click="loadFormAddInstitutions()" ><span class="glyphicon glyphicon-pencil"></span> Add</button>


        </div>


        <div class="col-md-12" style="    margin-bottom: -1.6%;"><br/></div>

    </div>



    <div class="container" ng-show="showInstitutionForm" style="    padding: 7%;" >

        <div class="col-md-12">
            <br/>
        </div>

        <div class="col-md-12  formMentinaceStyle"  >

            <div class="pull-right">
                <button type="button" class="btn btn-default closeButton" ng-click="hideInstitutionForm()" ><span class="	glyphicon glyphicon-remove-circle fs30 iconCloseButton"></span></button>
            </div>

            <h2>{{titleForm}}</h2>

            <form name="cForm" >


                <div class="form-group">
                    <label for="name">Name:<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="name" name="fullnametxt" ng-model="institutionsForm.name" required>
                    <span ng-show="!cForm.$pristine && cForm.fullnametxt.$error.required"  class="RedFont">Name is required.</span>

                </div>

                <div class="form-group">
                    <label for="latitud">Latitude:<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="latitud" name="latitudText" ng-model="institutionsForm.latitude" required>
                    <span ng-show="!cForm.$pristine && cForm.latitudText.$error.required"  class="RedFont">Latitude is required.</span>

                </div>

                <div class="form-group">
                    <label for="longitude">Longitude:<span style="color:red">*</span></label>
                    <input type="text" class="form-control" id="longitude" name="longitudeText"  ng-model="institutionsForm.longitude" required>
                    <span ng-show="!cForm.$pristine && cForm.longitudeText.$error.required"  class="RedFont">Longitude is required.</span>
                </div>


                <div class="form-inline">

                    <div class="form-group">
                        <label for="typeInstitution">Type:<span style="color:red">*</span></label>
                        <select class="selectEspecialForm" id="typeInstitution"  ng-options="t.idtypeinstitutions as t.typename for t in selectTypeInstitutionsList" ng-model="institutionsForm.idtypeinstitutions" />
                    </div>

                    <div class="form-group">
                        <label for="district">District:<span style="color:red">*</span></label>
                        <select class="selectEspecialForm" id="district" ng-options="d.iddistrict as d.district for d in selectDsitrictList" ng-model="institutionsForm.iddistrict" />
                    </div>


                    <br/>
                    <br/>

                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control" rows="2" id="address" ng-model="institutionsForm.address" name="addressText" required></textarea>
                    <span ng-show="!cForm.$pristine && cForm.addressText.$error.required"  class="RedFont">Address is required.</span>
                </div>

                <div class="form-group">
                    <label for="contact">Contact information:</label>
                    <textarea class="form-control" rows="3" id="contact" ng-model="institutionsForm.contactinformation"></textarea>
                </div>

                <div ng-show="showMessage" class="alert {{ typeMessage === 'sucess' ? 'colorSuccess' : 'colorDanger' }}" >
                    <span  ng-click="showMessage = false">&times;</span>
                    <strong>{{ typeMessage === 'sucess' ? 'Success' : 'Danger' }}!</strong> {{textMessage}}
                </div>


                <div class="pull-right">

                    <button ng-show="showSaveButton" type="submit" class="btn btn-info buttonAdd" ng-disabled="!cForm.$valid" ng-click="saveInsttituion()" onclick="$('.alert').show()" >Save</button>
                    <button ng-show="showUpdateButton" type="submit" class="btn btn-warning buttonAdd" ng-disabled="!cForm.$valid" ng-click="updateInsttituion()" onclick="$('.alert').show()" >Update</button>
                    <button ng-show="showDeleteButton" type="submit" class="btn btn-danger " ng-disabled="!cForm.$valid" ng-click="deleteInsttituion()" onclick="$('.alert').show()" >Delete</button>

                </div>

            </form>


        </div>


    </div>



    <div class="col-md-12">


        <ng-map class="mapStyle" zoom="13" center="{{latitudeLogitudWherePageIsOpen}}">
            <marker ng-if="i[0].checked"  ng-repeat="i in institutions" position="{{i[1].institutions.latitude}}, {{i[1].institutions.longitude}}"
                    icon="/app/assets/img/{{i[1].typeinstitutions.typename === 'Chursh' ? 'Icon-APP-Iglesia.png' : '' }}{{i[1].typeinstitutions.typename === 'School' ? 'Icon-APP-Colegio.png' :  ''}}{{i[1].typeinstitutions.typename === 'University' ? 'Icon-APP-Oficina.png' : ''}}{{i[1].typeinstitutions.typename === 'Hospital' ? 'Icon-APP-Hospital.png' : ''}}{{i[1].typeinstitutions.typename === 'Restaurant' ? 'restaurant.png' : ''}} "

                    title="{{ i[1].typeinstitutions.typename === 'Chursh' ? prename : ''}} ({{i[1].institutions.name | uppercase }})"
                    animation="Animation.BOUNCE"
                    centered="true"
                    on-click="showInfoWindow(event, i)" >

            </marker>

        </ng-map>

    </div>

    <div class="col-md-12">
        <br/>
        <br/>
    </div>
    <div class="pull-left" style="    margin-left: 1.5%;">
        <fieldset class="form-group" >
            <legend>Legends about institutions</legend>
            <img src="/app/assets/img/Icon-APP-Iglesia.png" /> <label class="fs15">Chursh</label>
            <img src="/app/assets/img/Icon-APP-Colegio.png" /> <label class="fs15">School</label>
            <img src="/app/assets/img/Icon-APP-Oficina.png" /> <label class="fs15">University</label>
            <img src="/app/assets/img/Icon-APP-Hospital.png" /> <label class="fs15">Hospital</label>
            <img src="/app/assets/img/restaurant.png" /><label class="fs15">Restaurant</label>
        </fieldset>
    </div>





    <div class="col-md-12">




            <ul class="list-group" >
                <li ng-repeat="i in institutions"  class="list-group-item listInstitutions {{i[1].typeinstitutions.typename === 'Chursh' ? 'listChursh' : '' }}
               {{i[1].typeinstitutions.typename === 'School' ? 'listSchool' :  ''}}
               {{i[1].typeinstitutions.typename === 'University' ? 'listUniversity' : ''}}
               {{i[1].typeinstitutions.typename === 'Hospital' ? 'listHospital' : ''}}
               {{i[1].typeinstitutions.typename === 'Restaurant' ? 'listRestaurant' : ''}}">

                    <input class="slideOne" type="checkbox" ng-model="i[0].checked"> {{i[1].institutions.name | uppercase }} {{i.checked}}

                    <div class="pull-right">
                        <button id="updateButtonListStyle" type="button" class="btn btn-default buttonAdd " ng-click="loadInfoInstitutionToBeUpdatedOrDeleted(i)" ><span class="glyphicon glyphicon-edit"></span></button>

                    </div>

                </li>

            </ul>

        </div>



</div>



